# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Ignorer les fichiers uploadés, mais garder les dossiers vides avec .gitkeep
uploads/*
!uploads/cv/.gitkeep
!uploads/photos/.gitkeep


# VS Code settings (si tu utilises VS Code)
.vscode/
